/* Sidebar navigation menu */
.navigation {
	height: 100%;
	width: 0; /* Change with JS */
	position: fixed;
	z-index: 1; /* Get on top */
	top: 0;
	left: 0;
	background-color: #111111;
	overflow-x: hidden; /* Disable horizontal scrolling */
	padding-top: 4vw;
	transition: 0.5s;
}

/* Sidebar navigation links */
.navigation a {
	padding: 8px 8px 8px 32px;
	font-size: 2vw;
	color: #c8c8c8;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.navigation a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.navigation .closeNavigation {
	position: absolute;
	top: 0;
	right: 2vw;
	font-size: 3vw;
	width: 3vw;
}

/* Open Navigation Button */
#openNavigation {
	text-decoration: none;
	font-size: 3vw;
	color: #c8c8c8;
}